name: tp75-fhs
services:
  tp75-api:
    cpu_shares: 90
    command: []
    container_name: tp75-api
    depends_on:
      tp75-db:
        condition: service_started
        required: true
    deploy:
      resources:
        limits:
          memory: 1024M
    environment:
      - ACCESS_TOKEN_EXPIRE_MINUTES=30
      - ALGORITHM=HS256
      - DATABASE_URL=postgresql+asyncpg://tp75user:tp75pass@tp75-db:5432/tp75db
      - FHS_HRS_BASE_URL=https://www.fhs.com.tw/ads/api/Furnace/rest/json/hr
      - SECRET_KEY=your_jwt_secret_key_here
    hostname: tp75-api
    image: patcoder97/prosight-backend:dev
    labels:
      icon: https://cdn.jsdelivr.net/gh/havy75/icon-casaos@40dabe2a97f65073e6719806c1668fded667c408/hrs-fhs-03.png
    ports:
      - mode: ingress
        target: 8000
        published: "8097"
        protocol: tcp
    restart: unless-stopped
    volumes: []
    devices: []
    cap_add: []
    networks:
      - tp75_fhs_network
    privileged: false
  tp75-db:
    cpu_shares: 90
    command: []
    container_name: tp75-db
    deploy:
      resources:
        limits:
          memory: 1024M
    environment:
      - POSTGRES_DB=tp75db
      - POSTGRES_PASSWORD=tp75pass
      - POSTGRES_USER=tp75user
    hostname: tp75-db
    image: postgres:16-alpine
    labels:
      icon: https://cdn.jsdelivr.net/gh/havy75/icon-casaos@40dabe2a97f65073e6719806c1668fded667c408/hrs-fhs-03.png
    restart: unless-stopped
    volumes:
      - type: bind
        source: /DATA/AppData/tp75-fhs/pgdata
        target: /var/lib/postgresql/data
        bind:
          create_host_path: true
    ports: []
    devices: []
    cap_add: []
    networks:
      - tp75_fhs_network
    privileged: false
networks:
  tp75_fhs_network:
    name: tp75-fhs_network
    driver: bridge
x-casaos:
  architectures:
    - amd64
    - arm64
  author: PATCoder97
  category: CasaOS-App
  description:
    en_us: TP75 FHS API + Postgres database.
  developer: ""
  hostname: ""
  icon: https://cdn.jsdelivr.net/gh/havy75/icon-casaos@40dabe2a97f65073e6719806c1668fded667c408/hrs-fhs-03.png
  index: /
  is_uncontrolled: false
  main: tp75-api
  port_map: "8097"
  scheme: http
  store_app_id: tp75-fhs
  tagline:
    en_us: TP75 FHS Service
  thumbnail: ""
  title:
    custom: tp75 fhs
    en_us: TP75 FHS
